@model List<Sportify.Models.Gym>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">Henüz oluşturulmuş bir Salon bulunmamaktadır.</div>
}
else
{
    <div class="gym-list-container">
        @foreach (var gym in Model)
        {
            <div class="gym-card">

                <h2>@gym.GymName</h2>
                <p><strong>Çalışma Saatleri:</strong> @gym.OpenTime - @gym.CloseTime</p>
                <p><strong>Salon Sahibi:</strong> @gym.Name</p>
                <p><strong>Salon Eğitmenleri:</strong> </p>
                @if (gym.Trainers != null && gym.Trainers.Any())
                {
                    @foreach (var trainer in gym.Trainers)
                    {
                        <span>@trainer.TrainerName</span>
                        <span>@trainer.WorkStartTime - @trainer.WorkEndTime</span>
                        <br />
                        @if (trainer.service != null && trainer.service.Any())
                        {
                            @foreach (var service in trainer.service)
                            {
                                <ol>@service.ServiceName</ol>
                                <span>@service.ServicePrice TL</span>
                                <span>@service.ServiceTime dk</span>
                                <br />
                            }
                        }
                        else
                        {
                            <span>Hizmet bulunmamaktadır.</span>
                        }                    }
                }
                else
                {
                    <span>Eğitmen bulunmamaktadır.</span>
                }
                <p><strong>Salon Hizmetleri:</strong> </p>
                @if (gym.Services != null && gym.Services.Any())
                {
                    @foreach (var service in gym.Services)
                    {
                        <span>@service.ServiceName</span>
                        <span>@service.ServicePrice TL</span>
                        <span>@service.ServiceTime dk</span>
                        <br />
                    }
                }
                else
                {
                    <span>Hizmet bulunmamaktadır.</span>
                }

                <hr />

                <div class="gym-actions">

                    <a asp-controller="Gym"
                       asp-action="EditGym"
                       asp-route-id="@gym.GymId">
                        Düzenle
                    </a>

                    <a asp-controller="Gym"
                       asp-action="DeleteGym"
                       asp-route-id="@gym.GymId">
                        Sil
                    </a>

                </div>
            </div>
        }
    </div>
}


