@model List<Sportify.Models.Gym>

<div class="gym-list-container">
    @foreach (var gym in Model)
    {
        <div class="gym-card">

            <h2>@gym.GymName</h2>
            <p><strong>Çalışma Saatleri:</strong> @gym.OpenTime - @gym.CloseTime</p>

            <hr />

            <div class="gym-actions">

                <a asp-controller="Gym"
                   asp-action="EditGym"
                   asp-route-id="@gym.GymId">
                    Düzenle
                </a>

                <a asp-controller="Gym"
                   asp-action="DeleteGym"
                   asp-route-id="@gym.GymId">
                    Sil
                </a>

            </div>
        </div>
    }
</div>