@model List<Sportify.Models.Trainer>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">Henüz oluşturulmuş bir randevu bulunmamaktadır.</div>
}

else
{
    <div class="trainer-list-container">
        @foreach (var trainer in Model)
        {
            <div class="trainer-card">

                <h2>@trainer.TrainerName</h2>
                <p><strong>Çalışma Saatleri:</strong> @trainer.WorkStartTime - @trainer.WorkEndTime</p>
                <p><strong>Çalıştığı Salon:</strong> @trainer.gym.GymName</p>
                @if(trainer.service!=null && trainer.service.Any())
                {
                    foreach(var item in trainer.service)
                    {
                        <span>@item.ServiceName</span>
                        <span>@item.ServicePrice TL</span>
                        <span>@item.ServiceTime dk</span>
                        <br />
                    }
                }
                else
                {
                    <span>Hizmet bulunmamaktadır.</span>
                }

                <hr />

                <div class="trainer-actions">

                    <a asp-controller="Trainer"
                       asp-action="EditTrainer"
                       asp-route-id="@trainer.TrainerId">
                        Düzenle
                    </a>

                    <a asp-controller="Trainer"
                       asp-action="DeleteTrainer"
                       asp-route-id="@trainer.TrainerId">
                        Sil
                    </a>

                </div>
            </div>
        }
    </div>
}