@model List<Sportify.Models.Appointment>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">Henüz oluşturulmuş bir Randevu bulunmamaktadır.</div>
}
else
{
    <div class="appointment-list-container">
        @foreach (var appointment in Model)
        {
            <div class="appointment-card">

                <h2>@appointment.UserName</h2>
                <p><strong>Salon:</strong> @appointment.gym.GymName</p>
                <p><strong>Eğitmen:</strong> @appointment.trainer.TrainerName</p>
                <p><strong>Çalışma Saatleri:</strong> @appointment.trainer.WorkStartTime - @appointment.trainer.WorkEndTime</p>
                <p><strong>Servis Adı:</strong> @appointment.service.ServiceName</p>
                <p><strong>Servis Süresi:</strong> @appointment.service.ServiceTime dk</p>
                <p><strong>Servis Ücreti:</strong> @appointment.service.ServicePrice TL</p>

                <hr />

                <div class="appointment-actions">

                    <a asp-controller="Appointment"
                       asp-action="DeleteAppointment"
                       asp-route-id="@appointment.AppointmentId">
                        Sil
                    </a>

                </div>
            </div>
        }
    </div>
}


